body{
    margin: 0;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: blue;
}
button{
    background-color: aqua;
    border-radius: 15px;
    font-size: 17px;
}

button:hover{
    color: blue ;
}
.contenedor_principal{
    background-color:cornflowerblue;
    border: 3px solid red;
    max-width: 50%;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

    .container-Producto-grid
    {
    display: grid;
    background: rgb(169, 73, 238);
    grid-template-columns: 244px 244px 244px ;
    grid-template-rows: auto;
    width: 97.5%;
    border: 3px solid black;
    }
    .cabecera-grid{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: rgb(83, 248, 83);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    }
    .datos-grid{
    color: rgb(0, 6, 11);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
